# Astro Environment Variables
SITE=http://localhost:4321

# CMS URL
CMS_URL=http://localhost:3000

# Revalidation secret (must match the one in CMS)
REVALIDATION_SECRET='another-strong-secret-for-revalidation'

# Typesense configuration
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=xyz

# AdSense Client ID
ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
